body{
	background-image: url('/static/image/bgimage.jpg');
	background-repeat:no-repeat;
}
h1{
    text-align: center;
	font: bold 20px Arial,Courier;
}
h2{
	color:#1E8449;
	font: normal 30px Arial, Courier;
}
	
img.seattle-img {
    display: block;
    margin: 0 auto;width:500px;
	height:250px;
}
